pywin32
pyaudio
keyboard
pycryptodome
termcolor
pywinauto
psutil
mss
cryptography
pycryptodomex
websocket-client
sounddevice
scipy
discord
discord_webhook
requests
opencv-python
bit
uuid
tqdm
wmi
customtkinter
colorama
fade
pillow
coincurve
PyInstaller
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability